.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.front-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.front-page-button-wrapper {
  margin: 200px 0 auto 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.front-page-button-wrapper > .button {
  margin: auto;
  height: 100px;
  width: 200px;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
}

#user-number {
  width: 150px;
  height: 40px;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
}